
@media screen and (max-width: 768px) {
    .topnav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding-top: 50px;
        z-index: 1000;
    }

    .topnav a {
        display: block;
        padding: 15px;
        /* text-align: center; */
        color: white;
        text-decoration: none;
        font-size: 20px;
        left: 70px;
    }

    .topnav a:hover {
        background: #555;
    }

    /* Header container */
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    /* Centering the menu icon */
    .menu-icon i{
        visibility: visible;
    }

    /* Logo */
    .header img:first-child {
        width: 150px;
    }

    /* Cart */
    .header img:last-child {
        width: 40px;
    }
}
@media screen and (max-width: 480px) {
    .topnav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding-top: 50px;
        z-index: 1000;
    }

    .topnav a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        position: relative;
    }

    .menu-icon {
        font-size: 22px;
        display: block;
    }

    .header a img:first-child {
        width: 80px;
    }

    .header img:last-child {
        width: 35px;
        position: absolute;
        right: -280px;
    }
}

@media screen and (max-width:768px) {
    .homepage {
        width: 100%;
        height: 1300px;
        background-color: rgb(52, 71, 66);
        display: flex;
    }

    .homepage img {
        width: 500px;
        height: 500px;
        margin-left: 200px;
        margin-top: 50px;
        border-top-left-radius: 150px;
        opacity: 0; 
        transform: rotateY(180deg) translateY(-50px); 
        animation: flipFromTop  1.5s ease-out forwards;
    }

    @keyframes flipFromTop  {
        0% {
            opacity: 0;
            transform: rotateX(180deg) translateY(-50px); 
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg) translateY(0); 
        }
    }

    .experince {
        width: 300px;
        height: 300px;
        background-color: rgb(207, 176, 44);
        position: absolute;
        bottom: -50px;
        left: 18%;
        border-top-right-radius: 100px;
    }

    .experince img {
        width: 36px;
        height: 36px;
        color: white;
        position: relative;
    }

    .experince h3 {
        width: 130px;
        height: 88px;
        font-size: 75px;
        color: white;
        position: relative;
        left: 20%;
    }

    .experince h4 {
        width: 200px;
        height: 60px;
        font-size: 26px;
        color: white;
        position: relative;
        bottom: -10px;
        left: 18%;
    }

    .services-box {
        width: 550px;
        height: 500px;
        background-color: white;
        position: absolute;
        bottom: -580px;
        left: 80px;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
}
@media screen and (max-width:480px) {
    .homepage {
        width: 100%;
        height: 1200px;
        background-color: rgb(52, 71, 66);
        display: flex;
    }

    .homepage img {
        width: 350px;
        height: 400px;
        margin-left: 80px;
        margin-top: 50px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        opacity: 0; 
        transform: rotateY(180deg) translateY(-50px); 
        animation: flipFromTop  1.5s ease-out forwards;
    }

    @keyframes flipFromTop  {
        0% {
            opacity: 0;
            transform: rotateX(180deg) translateY(-50px); 
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg) translateY(0); 
        }
    }

    .experince {
        width: 250px;
        height: 250px;
        background-color: rgb(207, 176, 44);
        position: absolute;
        bottom: 30px;
        left: 20px;
        border-top-right-radius: 100px;
    }

    .experince img {
        width: 36px;
        height: 36px;
        color: white;
        position: relative;
        left: 80px;
    }

    .experince h3 {
        width: 130px;
        height: 88px;
        font-size: 75px;
        color: white;
        position: relative;
        left: 40px;
        top: -20px;
    }

    .experince h4 {
        width: 200px;
        height: 60px;
        font-size: 26px;
        color: white;
        position: relative;
        bottom: 10px;
        left: 18%;
    }

    .services-box {
        width: 400px;
        height: 450px;
        background-color: white;
        position: absolute;
        bottom: -480px;
        left: 30px;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
}
@media screen and (max-width: 768px) {
    .services-container {
        width: 100%;
        height: auto;
        display: block;
        background-image: none;
        box-sizing: border-box;
        font-size: 1.0rem;
        line-height: 1.6;
        clear: both;
    }

    .left {
        width: 90%;
        height: auto;
    }

    .right {
        width: 90%;
        height: auto;
    }

    .left .icon {
        width: 40px;
        height: 40px;
        margin-left: 50px;
    }

    .right .icon {
        width: 40px;
        height: 40px;
        margin-left: 50px;
    }

    .left .service-first h4 {
        margin-left: -120px;
    }

    .left .service-first p {
        margin-left: 60px;
    }

    .left .service-second {
        position: relative;
        top: -30px;
    }

    .left .service-second h4 {
        margin-left: 0px;
    }

    .left .service-second p {
        position: relative;
        left: 60px;
        margin-left: 0px;
    }

    .left .service-third {
        position: relative;
        top: -70px;
    }

    .left .service-third h4 {
        margin-left: 50px;
    }

    .left .service-third p {
        position: relative;
        left: -100px;
    }

    .right .service-forth {
        position: relative;
        top: 200px;
    }

    .right .service-forth h4 {
        margin-left: -150px;
    }

    .right .service-forth p {
        position: relative;
        left: -820px;
    }

    .right .service-five {
        position: relative;
        top: 130px;
    }

    .right .service-five h4 {
        margin-left: -100px;
    }

    .right .service-five p {
        position: relative;
        left: -820px;
    }

    .right .service-six {
        position: relative;
        top: 70px;
    }

    .right .service-six h4 {
        margin-left: -150px;
    }

    .right .service-six p {
        position: relative;
        left: -820px;
    }
}
@media screen and (max-width: 480px) {
    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.4;
        padding: 10px;
    }

    .right .service-forth,
    .right .service-five,
    .right .service-six {
        position: static;
    }

    .left {
        width: 100%;
        height: auto;
    }

    .right {
        width: 100%;
        height: auto;
    }

    .left .icon {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        position: relative;
        top: -10px;
    }

    .right .icon {
        width: 30px;
        height: 30px;
        margin-left: 10px;
        position: relative;
        top: -10px;
    }

    .left .service-first h4 {
        margin-left: -120px;
        font-size: 1rem;

    }

    .left .service-first p {
        margin-left: 30px;
        font-size: 0.8rem;
        padding: 0 10px;
    }

    .left .service-second {
        position: relative;
        top: -30px;
    }

    .left .service-second h4 {
        margin-left: -60px;
        font-size: 1rem;
    }

    .left .service-second p {
        margin-left: -90px;
        font-size: 0.8rem;
    }

    .left .service-third {
        position: relative;
        top: -50px;
    }

    .left .service-third h4 {
        margin-left: -50px;
        font-size: 1rem;
    }

    .left .service-third p {
        position: relative;
        left: -150px;
        font-size: 0.8rem;
    }

    .right .service-forth {
        position: relative;
        top: 220px;
    }

    .right .service-forth h4 {
        margin-left: -150px;
        font-size: 1rem;
    }

    .right .service-forth p {
        position: relative;
        left: -880px;
        font-size: 0.8rem;
    }

    .right .service-five {
        position: relative;
        top: 190px;
    }

    .right .service-five h4 {
        margin-left: -130px;
        font-size: 1rem;
    }

    .right .service-five p {
        position: relative;
        left: -880px;
        font-size: 0.8rem;
    }

    .right .service-six {
        position: relative;
        top: 160px;
    }

    .right .service-six h4 {
        margin-left: -170px;
        font-size: 1rem;
    }

    .right .service-six p {
        position: relative;
        left: -880px;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:768px) {
    .worknutrition {
        width: 100%;
        height: 770px;
        background-color: #cfb02c;
        position: relative;
    }

    .daywork {
        width: 380px;
        height: 500px;
        background-color: white;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-left: 15px;
        position: relative;
        top: 200px;
        z-index: 1;
    }

    .daywork span {
        font-size: 36px;
        font-weight: 800;
        position: relative;
        top: 50px;
        left: 20px;
    }

    .daywork p {
        font-size: 1.250rem;
        position: relative;
        top: 80px;
        left: 30px;
    }

    .howwork {
        width: 220px;
        height: 80px;
        background-color: #cfb02c;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        position: relative;
        top: 130px;
        left: 50px;
    }

    .work {
        text-decoration: none;
        font-size: 1.175rem;
        font-weight: 700;
        color: #fff;
        position: relative;
        top: 80px;
        left: 100px;
    }

    .worknutrition img {
        width: 450px;
        height: 770px;
        position: absolute;
        top: 0;
        left: 250px;
    }

}
@media screen and (max-width:480px) {
    .worknutrition {
        width: 100%;
        height: 930px;
        background-color: #cfb02c;
        position: relative;
    }

    .daywork {
        width: 320px;
        height: 450px;
        background-color: white;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-left: 15px;
        position: relative;
        top: 480px;
        z-index: 1;
    }

    .daywork span {
        font-size: 30px;
        font-weight: 800;
        position: relative;
        top: 50px;
        left: 30px;
    }

    .daywork p {
        font-size: 18px;
        position: relative;
        top: 80px;
        left: 20px;
    }

    .howwork {
        width: 250px;
        height: 70px;
        background-color: #cfb02c;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: relative;
        top: 130px;
        left: 30px;
    }

    .work {
        text-decoration: none;
        font-size: 1.175rem;
        font-weight: 700;
        color: #fff;
        position: relative;
        top: 80px;
        left: 100px;
    }

    .worknutrition img {
        width: 340px;
        height: 480px;
        position: absolute;
        top: 0;
        left: 0px;
    }

}
@media screen and (max-width:768px) {
    .information {
        width: 100%;
        height: 1600px;
        background-color: rgb(52, 71, 66);
    }

    .information h4 {
        font-size: 1.5rem;
        line-height: 1.2;
        color: white;
        text-align: center;
        font-weight: 700;
    }

    .faq-item {
        margin-bottom: 10px;
    }

    .faq-item button {
        width: 600px;
        font-size: 1.125rem;
        text-align: left;
        padding: 20px;
        background-color: rgb(52, 71, 66);
        color: #fff;
        border: none;
        border-bottom: 1px solid white;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        top: 250px;
        left: 70px;
    }

    .faq-item button:hover {
        background-color: #4A6666;
    }

    .faq-content {
        width: 600px;
        font-size: 1.125rem;
        text-align: left;
        padding: 20px;
        background-color: rgb(52, 71, 66);
        color: #fff;
        border: none;
        border-bottom: 1px solid white;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        top: 250px;
        left: 70px;
        display: none;
    }

    .inquriy {
        width: 600px;
        min-height: 650px;
        background-color: white;
        position: absolute;
        top: 4150px;
        left: 70px;
        border-radius: 50px;
    }

    .inquriy h3 {
        font-size: 2.5rem;
        position: relative;
        left: 85px;
        top: 50px;
    }

    .inquriy p {
        font-size: 1.175rem;
        position: relative;
        top: 80px;
        left: 50px;

    }

    .inquriy input {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 150px;
        left: 50px;
    }

    .inquriy textarea {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 150px;
        left: 50px;
    }

    .inquriy button {
        width: 70%;
        height: 70px;
        border-radius: 50px;
        background-color: #cfb02c;
        border: none;
        position: relative;
        top: 200px;
        left: 80px;
    }
}
@media screen and (max-width:480px) {
    .information {
        width: 100%;
        height: 1400px;
        background-color: rgb(52, 71, 66);
    }

    .information h4 {
        font-size: 24px;
        line-height: 1.2;
        color: white;
        text-align: center;
        font-weight: 700;
        margin-left: -190px;
        margin-top: 50px;
    }

    .faq-item {
        margin-bottom: 10px;
    }

    .faq-item button {
        width: 350px;
        font-size: 16px;
        text-align: left;
        padding: 20px;
        background-color: rgb(52, 71, 66);
        color: #fff;
        border: none;
        border-bottom: 1px solid white;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        top: 100px;
        left: 50px;
    }

    .faq-item button:hover {
        background-color: #4A6666;
    }

    .faq-content {
        width: 350px;
        font-size: 16px;
        text-align: left;
        padding: 20px;
        background-color: rgb(52, 71, 66);
        color: #fff;
        border: none;
        border-bottom: 1px solid white;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        top: 100px;
        left: 50px;
        display: none;
    }

    .inquriy {
        width: 340px;
        min-height: 580px;
        background-color: white;
        position: absolute;
        top: 3810px;
        left: 30px;
        border-radius: 70px;
    }

    .inquriy h3 {
        font-size: 24px;
        position: relative;
        left: 50px;
        top: 50px;
    }

    .inquriy p {
        font-size: 16px;
        position: relative;
        top: 80px;
        left: 10px;

    }

    .inquriy input {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 100px;
        left: 30px;
    }

    .inquriy textarea {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 100px;
        left: 30px;
    }

    .inquriy button {
        width: 260px;
        height: 70px;
        border-radius: 50px;
        background-color: #cfb02c;
        border: none;
        position: relative;
        top: 150px;
        left: 30px;
    }
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .secondblock,
    .thirdblock {
        margin-top: 30px;
    }
}
@media screen and (max-width:768px) {

    .about {
        width: 100%;
        height: 550px;
        background-color: #293330;
        margin-left: 0px;
    }

    .about img {
        width: 355px;
        height: 465px;
        position: relative;
        left: 50px;
        top: 40px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    .experince-conteainer {
        width: 400px;
        height: 650px;
        position: relative;
        left: 440px;
        bottom: 330px;
    }

    .experince-conteainer h1 {
        color: white;
        font-size: 63px;
        font-weight: 700;
    }

    .experince-conteainer p {
        color: white;
        margin-top: 20px;
        font-size: 18px;
    }

    .work-container {
        width: 250px;
        height: 70px;
        background-color: #cfb02c;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: absolute;
        top: 280px;
    }

}
@media screen and (max-width:480px) {

    .about {
        width: 100%;
        height: 950px;
        background-color: #293330;
        margin-left: 0px;
    }

    .about img {
        width: 355px;
        height: 465px;
        position: relative;
        left: 50px;
        top: 40px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    .experince-conteainer {
        width: 400px;
        height: 650px;
        position: relative;
        left: 50px;
        bottom: -80px;
    }

    .experince-conteainer h1 {
        color: white;
        font-size: 63px;
        font-weight: 700;
    }

    .experince-conteainer p {
        color: white;
        margin-top: 20px;
        font-size: 18px;
    }

    .work-container {
        width: 250px;
        height: 70px;
        background-color: #cfb02c;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: absolute;
        top: 280px;
    }

}
@media screen and (max-width:768px) {
    .home-conteanair {
        width: 100%;
        height: 1200px;
        background-color: #293330;
    }

    .home-first-container h1 {
        width: 400px;
        height: 500px;
        white-space: nowrap;
        position: absolute;
        color: #fff;
        font-size: 3.0rem;
        font-weight: 900;
        top: 150px;
        left: 20px;
    }

    .home-first-container p {
        width: 400px;
        height: 500px;
        position: absolute;
        color: #fff;
        font-size: 1.275rem;
        top: 300px;
        left: 30px;
    }

    .home-first-child {
        width: 250px;
        height: 70px;
        background-color: #cfb02c;
        font-size: 1.175rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: absolute;
        left: 50px;
        top: 350px;
        color: #fff;
    }

    .home-second-container {
        width: 250px;
        height: 300px;
        position: relative;
        top: 700px;
        left: 100px;
        background-color: #cfb02c;
        color: #fff;
        border-top-right-radius: 50px;
        z-index: 2;
    }

    .home-conteanair-img img {
        width: 400px;
        height: 500px;
        position: relative;
        top: 100px;
        left: 250px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    .home-second-container img {
        width: 50px;
        height: 50px;
        color: white;
        position: relative;
        top: 20px;
        left: 190px;
    }


    .home-second-container h3 {
        font-size: 3.5rem;
        font-weight: 800;
        position: relative;
        top: 20px;
        left: 80px;
    }

    .home-second-container h4 {
        font-size: 2.0rem;
        font-weight: 800;
        position: relative;
        top: 50px;
        left: 20px;
    }

}
@media screen and (max-width:480px) {
    .home-conteanair {
        width: 100%;
        height: 900px;
        background-color: #293330;
    }

    .home-first-container h1 {
        width: 400px;
        height: 500px;
        white-space: nowrap;
        position: absolute;
        color: #fff;
        font-size: 1.7rem;
        font-weight: 900;
        top: 150px;
        left: 20px;
    }

    .home-first-container p {
        width: 400px;
        height: 500px;
        position: absolute;
        color: #fff;
        font-size: 1.275rem;
        top: 250px;
        left: 30px;
    }

    .home-first-child {
        width: 250px;
        height: 70px;
        background-color: #cfb02c;
        font-size: 1.175rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: absolute;
        left: 50px;
        top: 300px;
        color: #fff;
    }

    .home-second-container {
        width: 265px;
        height: 250px;
        position: relative;
        top: 600px;
        left: 50px;
        background-color: #cfb02c;
        color: #fff;
        border-top-right-radius: 50px;
        z-index: 2;
    }

    .home-conteanair-img img {
        width: 305px;
        height: 385px;
        position: relative;
        top: 50px;
        left: 100px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    .home-second-container img {
        width: 30px;
        height: 30px;
        color: white;
        position: relative;
        top: 20px;
        left: 190px;
    }

    .home-second-container h3 {
        font-size: 3.5rem;
        font-weight: 800;
        position: relative;
        top: 10px;
        left: 80px;
    }

    .home-second-container h4 {
        font-size: 2.0rem;
        font-weight: 800;
        position: relative;
        top: 30px;
        left: 20px;
    }
}
@media screen and (max-width:768px){
    .contactinformation {
        width: 100%;
        height: 800px;
        background-color: #293330;
    }
    
    .contact {
        width: 700px;
        min-height: 300px;
        background-color: white;
        position: absolute;
        top: 150px;
        left: 30px;
        border-radius: 70px;
    }
    
    .contact h3 {
        font-size: 30px;
        text-align: center;
        position: relative;
        left: 50px;
        top: 50px;
    }
    
    .contact p {
        font-size: 16px;
        position: relative;
        text-align: center;
        top: 80px;
        left: 20px;
    }
    
    .contact input {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 150px;
        align-items: center;

    }
    
    .contact textarea {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 180px;
        align-items: center;
    }
    
    .contact button {
        width: 350px;
        height: 70px;
        border-radius: 50px;
        background-color: #cfb02c;
        border: none;
        position: relative;
        top: 230px;
        left: 150px;
    }
    

}
@media screen and (max-width:480px){
    .contactinformation {
        width: 100%;
        height: 800px;
        background-color: #293330;
    }
    
    .contact {
        width: 380px;
        min-height: 450px;
        background-color: white;
        position: absolute;
        top: 150px;
        left: 30px;
        border-radius: 70px;
    }
    
    .contact h3 {
        font-size: 30px;
        position: relative;
        left: 0px;
        top: 50px;
    }
    
    .contact p {
        font-size: 16px;
        position: relative;
        top: 80px;
        left: 0px;
    }
    
    .contact input {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 100px;
        left: 30px;
    }
    
    .contact textarea {
        display: block;
        width: 80%;
        outline: none;
        padding: 25px 12px;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-color: black;
        border-width: 2px;
        position: relative;
        top: 100px;
        left: 30px;
    }
    
    .contact button {
        width: 260px;
        height: 70px;
        border-radius: 50px;
        background-color: #cfb02c;
        border: none;
        position: relative;
        top: 150px;
        left: 50px;
    }
    

}